:root {
  user-select: none;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;

}

#notepad-inner {
  position: absolute;
  resize: none;
  background: transparent;
  border: none;
  color: black;
  outline: none;
  margin-top: 50px;
  margin-left: 25px;
  height: 490px;
  width: 360px;
  z-index: 4;
}

#notepad-outer {
  position: absolute;
  background-image: url('assets/images/notepad/notepad.jpg');
  background-repeat: no-repeat;
  margin-top: -450px;
  margin-left: 740px;
  height: 580px;
  width: 394px;
  z-index: 4;
  transition: ease-in;
  transition-duration: 2s;
}

.homeBackground{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 74%;
  height: 100%;
} 

.officeBackground{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  height: 100%;
  z-index: 0;
}

.mapBackground{
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  width: 70%;
  z-index: 3;
}

.inventoryBackground{
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  width: 70%;
  z-index: 3;
}

#mitreBG{
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

#druwardBG{
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

#dutfieldBG{
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

#hanburyBG{
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

#dorsetBG{
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

#wharfBG{
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

.mitreSquareBtn{
  position: absolute;
  z-index: 4;
  left: 45.5%;
}

.druwardStBtn{
  position: absolute;
  z-index: 4;
  left: 25%;
  top: 280px;
}

.dutfieldYardBtn{
  position: absolute;
  z-index: 4;
  left: 18%;
  bottom: 120px;
}

.hanburyStBtn{
  position: absolute;
  z-index: 4;
  top: 85px;
  right: 25%;
}

.wharfBtn{
  position: absolute;
  z-index: 4;
  bottom: 120px;
  right: 18%;
}

.dorsetStBtn{
  position: absolute;
  z-index: 4;
  top: 280px;
  right: 28%;
}

.contactList{
  position: relative;
  width: 5%;
  left: 75%;
  bottom: 300px;
}

.dialogueBox{
  position: absolute;
  background-color: #1a1a1a7a;
  text-align: center;
  border-radius: 10px;
  bottom:15px;
  height: 250px;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
  z-index: 4;
}

#typed{
  text-align: center;
  margin-left: 20px;
  width: 95%;
  height: 77%;
  margin-bottom: 5px;
  border-style: none;
  background: none;
  resize: none;
}

#typed:focus-visible{
  outline: none;
}

#speakingChar {
  position: relative;
  font-size: 32px;
  left: 5%;
  margin: 2px;
  padding: 10px;
  bottom: 30px;
  width: 300px;
  background-color: #1a1a1a;
  border-radius: 10px;
}

#mapBtn{
  position: absolute;
  border: 2px solid white;
  z-index: 2;
  left: 70%;
}

#mapBtn:hover {
  border: 1px solid blue;
}

#notesBtn{
  position: absolute;
  border: 2px solid white;
  z-index: 2;
  top: 680px;
  left: 43.5%;
}

#notesBtn:hover {
  border: 1px solid blue;
}

#inventoryBtn{
  position: absolute;
  border: 2px solid white;
  z-index: 2;
  top: 790px;
  left: 43.5%;
}

#inventoryBtn:hover {
  border: 1px solid blue;
}

#backBtn{
  position: absolute;
  border: 2px solid white;
  z-index: 2;
  top: 840px;
  left: 72%;
}

#officeBtn{
  z-index: 4;
  position: absolute;
  top: 20px;
  left: 320px;
}

#backBtn:hover {
  border: 1px solid blue;
}

#chapter1{
  font-size: 150px;
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
#text1{
  position: relative;
  top: 25%;
}

#hideBG{
  font-size: 150px;
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 3.5s, z-index 3.5s;
  opacity: 0;
}
#hideText{
  position: relative;
  top: 25%;
  transition: opacity 1s;
  opacity: 0;
}

#speakingSprite{
  position: absolute;
  height:170%;
  right:884px;
  bottom: 250px;
}

#finalCutscene{
  position:absolute;
  left: 50%;
  transform: translate(-50%);
  height: 377%;
  bottom: -10%;
  z-index: 5;
}

#cutsceneBG{
  position:fixed;
  background-color: black;
  height: 377%;
  width: 143.4%;
  left: -22%;
  bottom: -25px;
  z-index: 4;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  /* added by ian sills chadwick bartholemuel sampsonite the third */
  width: 200px;
  /* added by ian sills chadwick bartholemuel sampsonite the third */
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
